.navbar {
  background: #a33;
  color: white;
  font-size: 33px;
  height: 64px;
}

.container {
    display: flex;
    width: 100%;
    padding-right: 16px;
    align-items: center;
}

a.headerLink {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-left: 32px;
    display: none;
}

a.burgerLink {
    color: #a33;
    text-decoration: none;
    font-size: 24px;
}

.burgerMenu {
    display: block;
    margin-right: 8px;
}


@media only screen and (min-width: 800px) {
    .burgerMenu {
        display: none;
    }
    
    a.headerLink {
        display: block;
    }
}
