<mat-card>
    <mat-nav-list>
        <mat-list-item *ngFor="let beer of beersService.beers" (click)="selected(beer)">
            <h3 matLine>{{beer.name}}</h3>
            <p matLine>
                {{beer.tagline}}
            </p>
            <p matLine>
                {{beer.description}}
            </p>
            <mat-icon
                *ngIf="!!beersService.beersInfo.globalLikes[beer.id]"
                style="display:flex; align-items: center; padding-right:8px;"
                [style.color]="getLikeColor(beer.id)">
                thumb_up
                <span style="font-size:14px; margin-left: 8px;">{{getLikeCount(beer.id)}}</span>
            </mat-icon>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
