div.overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.spinnerBackground {
    width: 120px; 
    height:120px; 
    border-radius: 20px; 
    background: white;
    display:flex; 
    align-items: center;
    justify-content: center;
}
