<mat-card style="margin-bottom: 50px;">
    <div *ngIf="beersService.selectedBeer">
        <div class="header">
            <div class="avatar">
                <img class="avatar" src="{{imageUrl}}" />
            </div>
            <div>
                <h1>{{name}}</h1>
                <h2>{{tagline}}</h2>
                <h3>{{"beerDetail.contributedBy" | translate}} <span style="color: darkred">{{contributedBy}}</span></h3>
            </div>
        </div>

        <div style="margin-top: 14px; display: flex; align-items: center;">
            <button mat-icon-button class="likeButton" (click)="toggleLike()">
                <mat-icon [style.color]="likeColor">thumb_up</mat-icon>
            </button>
            <div class="likeLabel" [style.color]="likeColor">{{likeLabel}}</div>
        </div>

        <h3 translate>beerDetail.bestWith</h3>
        <div class="foodPairing">
            <div class="chip" *ngFor="let food of foodPairing">{{food}}</div>
        </div>

        <h3>TR: Description</h3>
        <p>{{beersService.selectedBeer.description}}</p>
        <h3>TR: Tips</h3>
        <p>{{beersService.selectedBeer.brewers_tips}}</p>


        <h3>Kommentare</h3>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Mein Kommentar</mat-label>
                <input matInput formControlName="comment" />
                <mat-error *ngIf="maxLengthFailed" translate>Max. 35 Zeichen</mat-error>
                <mat-error *ngIf="leadingOrTrailingSpace" translate>Leerzeichen am Anfang oder Ende</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" style="margin-left: 16px;" type="submit">Senden</button>
        </form>

        <div *ngFor="let comment of comments">
            <span style="color: darkred">{{comment.user.split("-")[0]}}: </span>
            <span>{{comment.comment}}</span>
        </div>

    </div>
</mat-card>


<div class="fabContainer">
    <button mat-fab color="primary" (click)="onPrevious()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="onNext()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>
