div.header {
    display: flex;
    align-items: center;
}

img.avatar {
    width: 80%;
    height: 80%;

    // fit image -> same as background cover
    object-fit: contain;
}

div.avatar {
    background: #ffe0e0;
    
    width: 100px;
    height: 100px;

    border-radius: 20%;
    margin-right: 32px;

    // For centering the image hor and ver
    display: flex;
    align-items: center;
    justify-content: center;

    // Avoid shrinking on resize
    flex-shrink: 0;
}

div.foodPairing {
    display: flex;
    flex-wrap: wrap;
}

div.chip {
    background: lightseagreen;
    color: white;
    border-radius: 16px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
}

div.fabContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

button.likeButton {
    transform: scale(1.4);
}

div.likeLabel {
    margin-left: 8px;
    font-size: 20px;
}

@media only screen and (min-width: 800px) {
    div.avatar {
        width: 160px;
        height: 160px;
    }
}
