@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Replace global font */
* {
    font-family: "Source Sans Pro";
}

body {
    background: #ffefef;
    margin: 0;
}
